@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Dan Phillips<br />
    Charlotte, NC<br />
    <abbr title="Phone">P:</abbr>
    502.291.8867
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dlphillips@gmail.com">dlphillips@gmail.com</a><br />
</address>
